# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env
.env.*

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor and System files
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Testing and coverage
coverage/
.nyc_output/
test-results.xml

# TypeScript build info
*.tsbuildinfo

# Docker
docker-compose.override.yml
.dockerignore

# Git-related
*.orig

# Temporary files
*.bak
*.tmp

# Exclude service-specific files or folders
*/node_modules/
*/dist/
*/coverage/
*/logs/
